.letra{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    display: none;
}
.letraj{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}
dvdisplay{
    display: block;
}
#dvForca{
    position:absolute;
    left: 150px;
}
#cabeca{
    position:absolute;
    top: 0px;
    left: 0px;
}
#corpo{
    position:absolute;
    top: 0px;
    left: 0px;
}
#bracoE{
    position:absolute;
    top: 0px;
    left: 0px;
}
#bracoD{
    position:absolute;
    top: 0px;
    left: 0px;
}
#pernaE{
    position:absolute;
    top: 0px;
    left: 0px;
}
#pernaD{
    position:absolute;
    top: 0px;
    left: 0px;
}